.btn.btn-primary{
    border-radius: 10rem !important;
}

.btn.btn-primary:hover{
    box-shadow: 1px 1px 2px #cfaa2c, 0 0 25px #fed136, 0 0 5px #FFFFFF;
}

.intro-lead-in{
    margin-bottom: 2px !important;
}

.intro-lead-in.-self{
    margin-bottom: 25px !important;;
}

.intro-lead-in.-self span{
    color: #fed136;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.pull-center{
    margin: 0 auto !important;
}

.container.fixed-background{
    text-align: center;
    background: url("../img/header-bg.jpg") no-repeat fixed;
    padding: 3rem 20%;
    font-size: 2rem;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.container.fixed-background span {
    color: #FFF;
}
.container.fixed-background a{
    text-decoration: none;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 5px 15px;
    border-radius: 10rem !important;
}

.container.fixed-background a span.active{
    color: #cfaa2c;
}

.container.fixed-background a i.fa{
    margin-left: 10px;
}

.container.fixed-background a:hover{
    color: #cfaa2c;
    box-shadow: 1px 1px 2px #cfaa2c, 0 0 25px #fed136, 0 0 5px #FFFFFF;
}

.container.fixed-background a:hover span.active{
    color: #FFF;
}

.no-bottom-pad{
    padding-bottom: 15px !important;
}